<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="style.css">
      <title>Gear test</title>
    </head>
    <body>
    <!-- <body class="crt crt_container"> -->
      <header>Gear Test</header>
      <img src='basic_enemy.gif' width="40px;" onclick="battle()">
      <div class="battle_grid_layer_1">
        <div class="battle_grid_layer_0">
          <div id="enemy_grid" class="grid_wrapper"></div>
          <br>
          <div id="player_grid" class="grid_wrapper"></div>
        </div>
      </div>
        <div id="info" style="color:white;"></div>
    </body>
  </html>
<script src="gear_test.js"></script>
